<div id="main-div">
<div class="div1"></div>
<div class="div2"></div>

</div>
<div id="dotted-circle"></div>
<div class="circle" id="outer-circle"></div>
<div class="circle" id="inner-circle"></div>
<div id="img-main-div">
    <%= image_tag('mainImg.png', id: "img1",alt: "mainimg") %>
</div>
<div>
<div class="white-circles" id="white-circle-1">
<%= image_tag('circlebook-1.jpg',alt: "circlebook1",class: "circle-img", id:"circle-img-1") %>
</div>
<div class="white-circles" id="white-circle-2">
<%= image_tag('circlebook-2.jpg',alt: "circlebook2",class: "circle-img", id:"circle-img-2") %>
</div>
<div class="white-circles" id="white-circle-3">
<%= image_tag('circlebook-3.png',alt: "circlebook3",class: "circle-img", id:"circle-img-3") %>
</div>
<h1 id="sub-head">Explore Your Favorite Books</h1>
<%= image_tag('books.jpg',alt: "books",id: "h1-img-small") %>
<pre id="head1"> 
  Feed your 
  cerebral
  with us</pre>
<input type="text" placeholder="search for books" id="search-input">
<button id="search-button">Search</button>


